<div class="container">
  <h2>Your Ironhack Feed:</h2>


  <% for(var ix =0; ix < postArray.length; ix++) { %>
    <hr>
    <div class="post">
      <div class="post-text">
        <p>
          <%=postArray[ix].text%>
        </p>
      </div>
      <% let isInUpvotes = postArray[ix].upvotes.some((el) => { %>
        <%  return el.equals(user._id); %>
          <% }); %>
            <% let isInDownvotes = postArray[ix].downvotes.some((el) => { %>
              <%  return el.equals(user._id); %>
                <% }); %>
                  <% if(isInUpvotes == false && isInDownvotes == false) { %>
                    <div class="voting">
                      <form action="/feed/upvote/<%= postArray[ix]._id %>" method="POST">
                        <input id="upvote-icon" src="../images/rock_icon.svg" type="image" value="Upvote">
                      </form>
                      <hr>
                      <form action="/feed/downvote/<%= postArray[ix]._id %>" method="POST">
                        <input id="downvote-icon" src="../images/rude_icon.svg" type="image" value="Downvote">
                      </form>
                    </div>
                    <% } else { %>
                      <div class="voting">
                        <p>
                          voted!
                        </p>
                      </div>
                      <% } %>
                        <div class="post-score">
                          <p>
                            <%=postArray[ix].score%>
                          </p>
                        </div>
    </div>
    <div class="comment">
      <a class="comment-button" href="/feed/<%=postArray[ix]._id%>">New Comment</a>
      <%for(var iy = 0; iy < postArray[ix].comments.length; iy++) { %>
        <p> //
          <%=postArray[ix].comments[iy].text%>
        </p>
        <% } %>
    </div>
    <% } %>
      <hr>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/javascript/feed.js"></script>