<h2>Your Ironhack Feed:</h2>
<% for(var ix =0; ix < postArray.length; ix++) { %>
  <hr>
  <div class="post">
    <p>
      <%=postArray[ix].text%>
    </p>
    <% let isInUpvotes = postArray[ix].upvotes.some((el) => { %>
      <%  return el.equals(user._id); %>
        <% }); %>
          <% let isInDownvotes = postArray[ix].downvotes.some((el) => { %>
            <%  return el.equals(user._id); %>
              <% }); %>
                <% if(isInUpvotes == false && isInDownvotes == false) { %>
                  <form action="/feed/upvote/<%= postArray[ix]._id %>" method="POST">
                    <input type="submit" value="Upvote">
                  </form>
                  <form action="/feed/downvote/<%= postArray[ix]._id %>" method="POST">
                    <input type="submit" value="Downvote">
                  </form>
                  <% } else { %>
                    <p>
                      You already voted for that!
                    </p>
                    <% } %>
                      <p>
                        <%=postArray[ix].score%>
                      </p>
                      <form action="/feed/<%= postArray[ix]._id %>" method="POST">
                        <input type="submit" value="Comment">
                      </form>
  </div>
  <% } %>
    <hr>