<div class="container">
  <h2>Your Ironhack Feed:</h2>


  <% for(var ix =0; ix < postArray.length; ix++) { %>
    <hr>
    <div class="post">

      <div class="comment">
        <p>
          <%=postArray[ix].text%>
            <%for(var iy = 0; iy < postArray[ix].comments.length; iy++) { %>
              <p> //
                <%=postArray[ix].comments[iy].text%>
              </p>
              <% } %>
        </p>
      </div>
      <% let isInUpvotes = postArray[ix].upvotes.some((el) => { %>
        <%  return el.equals(user._id); %>
          <% }); %>
            <% let isInDownvotes = postArray[ix].downvotes.some((el) => { %>
              <%  return el.equals(user._id); %>
                <% }); %>
                  <% if(isInUpvotes == false && isInDownvotes == false) { %>
                    <form action="/feed/upvote/<%= postArray[ix]._id %>" method="POST">
                      <input type="submit" value="Upvote">
                    </form>
                    <form action="/feed/downvote/<%= postArray[ix]._id %>" method="POST">
                      <input type="submit" value="Downvote">
                    </form>
                    <% } else { %>
                      <p>
                        !!! Stop voting !!!
                      </p>
                      <% } %>
                        <p>
                          <%=postArray[ix].score%>
                        </p>
                        <a href="/feed/<%=postArray[ix]._id%>">New Comment</a>
    </div>
    <% } %>
      <hr>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/javascript/feed.js"></script>